@model ShopASP.Models.Context.ModelsForDB.Person

<div conteiner-person>
    <h2>Personal information</h2>
    <div class="conteiner_inner-inf">
        <div class="conteiner_div">
            <p class="title-info">Surname</p>
            <p class="field-info">@Model.Surname</p>
        </div>

        <div class="conteiner_div">
            <p class="title-info">Firstname</p>
            <p class="field-info">@Model.Firstname</p>
        </div>

    </div>
    <div class="conteiner_div">
        <p class="title-info">Patronymic</p>
        <p class="field-info">@Model.Patronymic</p>
    </div>

    <h2>Contact information</h2>
    <div class="conteiner_inner-inf">
        <div class="conteiner_div">
            <p class="title-info">Phone:</p>
            <p class="field-info">@Model.Phone</p>
        </div>
        <div class="conteiner_div">
            <p class="title-info">Email:</p>
            <p class="field-info">@Model.Email</p>
        </div>

</div>
