@model ShopASP.Models.Context.ModelsForDB.Person
@{
    ViewBag.Title = "Profile";
}

<div class="conteiner">
    <h2>Profile</h2>
    <div class="conteiner-inner">
        <div>
            <div class="conteiner_img">
                <img src="~/Resourses/photo.png" alt="photo_user" />
            </div>
            <h1>@Model.Firstname</h1>
        </div>
    </div>
    <div class="conteiner_info">
        <div class="tab">
            @Ajax.ActionLink("Personal information", "GetPersonalInformation", "PersonAccount", new AjaxOptions
            {
               UpdateTargetId = "conteiner_info-inner",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "GET"
           })
            @Ajax.ActionLink("All orders", "GetOrdersInformation", "PersonAccount", new AjaxOptions
            {
                UpdateTargetId = "conteiner_info-inner",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            })
            @Ajax.ActionLink("Cart", "MakingAnOrder", "PersonalAccount", new AjaxOptions
           {
                UpdateTargetId = "conteiner_info-inner",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
           })
            @if (Model.IsAdmin == true)
            {
                @Ajax.ActionLink("Admin panel", "ShowAdminPanel", "PersonalAccount", new AjaxOptions
                {
                    UpdateTargetId = "conteiner_info-inner",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                })
            }
        </div>
        <div id="conteiner_info-inner">
            <p>Select the tab</p>
        </div>
    </div>
</div>